@media only screen and (min-width:1441px) {
  .menu {
    padding: 0 70px !important;
  }
  .container {
    width: 1170px;
  }
  .my-exp .text h2 {
    width: 31%;
  }
}


@media only screen and (max-width:1024px){
  .my-skills {
    padding: 20px;
  }
  .container {
    width: 960px;
  }
  .about-text h2 {
    width: 64%;
  }
  .folio-title h2:before {
  right: 325px;
  top:0;
}
  .folio-title h2:after {
    right: 305px;
    top:3px;
  }
  .my-exp .text h2 {
    width: 100%;

  }
  .text h2:before {
  top:50px;
  right: -5px;
}
  .text h2:after {
    top:53px;
    right: -25px;
  }
}


@media only screen and (max-width:768px) {
  .container {
    width: 720px;
  }
  .menu {
    height: 80px;
    padding: 0 40px;
  }
  .nav ul li{
    margin: 0 !important;
    height: 40px;
    margin: 8px 0;
   /* width: 100%;
    text-align: center;*/
  }
  .logo {
    margin-top: 0 !important;
  }
  .nav>ul {
    display: none;
  }
  .nav label {
    display: block !important;
  }
  .nav label i:hover {
    background-color: lightgrey;
  }
  .nav input[type='checkbox']:checked ~ ul {
    display:flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    position: absolute;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    top:75px;
    left:0;
    background-color: black;
    margin: 0;
    overflow: hidden;
  }
  .move {
    height: 60px;
  }
  .headtext-center span {
    font-size: 48px;
  }
  .top-wrapper {
    background-size: 100%,768px cover;
    background-position: bottom, top;
  }
  .my-skills {
    padding: 20px;
  }
  .about-info {
    padding: 80px 15px;
  }
  .about-text h2 {
    width: 80%;
  }
  .numbers-text {
    padding: 0 50px 0 50px;
    width: 400px;
  }
  .my-numbers {
    padding: 0;
  }
  .my-digits {
    padding-left: 10px;
    padding-right: 10px;
  }
  .numbers-wrapper .container {
    width: 100%;
  }
  .img-box:not(:last-of-type) {
    width: 48%;
  }
  .img-box:last-of-type {
    width: 100%;
  }
  .folio-title h2:before {
  right: 205px;
  top:0;
}
  .folio-title h2:after {
    right: 185px;
    top:3px;
  }
  .exp-wrapper:first-child {
    width: 30%;
  }  
  .exp-wrapper:last-child {
    width: 70%;
    padding: 100px 30px 80px;
  }
  .text h2:before {
  top:0px;
  right: 115px;
}
  .text h2:after {
    top:3px;
    right: 95px;
  }
}


@media only screen and (max-width:576px) {
  .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  .top-wrapper {
    background-size: 100%,768px;
    background-position: 100% calc(100% - 34px), top;
  }
  .menu {
    padding: 0 15px !important;
  }
  .about-info {
    padding: 100px 0;
  }
   .about-text {
     width: 100%;
    padding: 50px 0 0 !important;
    margin: 0;
  }
  .about-photo {
    height: 390px;
    width: 390px;
  }
  .about-photo a {
    position: absolute;
    top:35%;
    left:40%;
  }
  .about-me {
  width: 100%;
  margin: 0 auto;
  padding: 80px 0 0 0;
  }
  .social-contact-me>ul>li:not(first-child){
    margin-left: 0 !important;
  }
  .social-contact-me>ul>li:first-child  {
    margin-right: 15px;
  }
  .about-photo:before {
    overflow: hidden;
    width: 160px;
  }
  .about-text h2 {
    width: 85%;
  }
  .my-numbers, .my-digits {
    flex-flow: column wrap;
    align-items: center;
  }
  .my-numbers {
    padding-top: 100px;
  }
  .my-digits {
    padding: 50px 0 0;
  }
  .stat-box {
    width: 100%;
  }
  .stat-box h2 {
    margin: 20px auto 10px;
  }
  .numbers-text {
    padding: 40px 60px;
    text-align: center;
  }
  .sort-images li {
    display: block;
    padding: 8px 0;
  }
  .img-box:nth-of-type(n) {
    width: 100%;
  }
   .folio-title h2:before {
  right: 35px;
  top:0;
  }
  .folio-title h2:after {
    right: 15px;
    top:3px;
  }
  .my-exp {
    flex-flow: column;
  }
  .exp-wrapper {
    width: 100% !important;
  }
  .exp-wrapper:first-child {
    height: 400px;
  }
  .exp-wrapper:last-child {
    padding: 100px 15px 80px;
  }
  .text h2:before {
  top:0px;
  right: 45px;
  }
  .text h2:after {
    top:3px;
    right: 25px;
  }
  
}
@media only screen and (max-width:320px) {
  .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  .headtext-center {
    padding: 0!important;
    margin-top: 20px;
  }
  .headtext-center span {
    font-size: 38px;
    margin-bottom: 0;
  }
  .headtext-center .btn {
    margin-top: 20px;
  }
  .headtext-center:after {
    bottom:-100px;
  }
  .about-photo {
    height: 290px;
  }
  .about-text {
    padding-left:15px !important;
    padding-right:15px !important;
  }
  .about-text h2 {
    color:#2d2d2d;
    margin-bottom: 19px;
    line-height: 1.3em;
    font-size: 42px;
    letter-spacing: 0;
  }
  .about-text h3 {
    color:#636363;
    margin-bottom: 19px;
    line-height: 1.3em;
    font-size: 28px;

  }
  .about-text span {
    display: block;
  }
  .about-photo:before {
    overflow: hidden;
    width: 100px;
  }
  .about-text h2 {
    width: 100%;
  }
  .dots h2:before {
    top:55px;
    right: 20px;
  }
  .dots h2:after {
    top:58px;
    right: 0px;
  }
  .numbers-text {
    width: 100%;
    padding: 20px 30px;
  }
  .numbers-wrapper .container {
    padding: 0;
  }
  .numbers-text h2 {
    line-height: 1.2em;
  }
  .folio-title h2 {
    text-align: left;
  }
  .folio-title h2:before {
    right: 0px;
    top:0;
  }
  .folio-title h2:after {
    right: -15px;
    top:3px;
  }
  .text h2:before {
  top:50px;
  right: 10px;
  }
  .text h2:after {
    top:53px;
    right: -10px;
  }
}
