@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  transition: 0.5s;

}
*:before, *:after {
  z-index: 0;
}
html,body {
  background-color: lightgrey;
  width: 100%;
}
h2 {
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  font-size: 42px;
  margin-bottom: 20px;
  color: #424242;
  letter-spacing: 1px;
}
a:hover {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
  position: relative;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/*#particles-js{
    background: url(../img/bg-top.jpg) fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-size: cover;
    position: absolute;
    z-index: -1;
}*/
/* -------------------------------------------------- */

/*Библиотека Water???подключить шрифты, logo.
МЕНЮ!!!! Скролл и параллакс!!!
Разобраться с кнопками, Ховер кнопок.
 */
/* First section and header.*/
.top-wrapper {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  background-image: url('../img/wave.png'),url('../img/bg-top.jpg');
  background-size:100%, cover;
  background-repeat: no-repeat,no-repeat;
  background-position: left 101%, top;
  padding: 0 auto;
}
.menu-wrapper {
  width: 100%;
  position: fixed;
  top:0;
  z-index: 4;
}
.menu {
  max-width: 1176px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  color: #fff;
  margin: 0 auto;
  /* box-shadow: 0 0 12px 0 #2d2d2d; *//* HACK: when scroll! */

}

.menu .logo span {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 23px;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;

}
.container img.wave {
  width: 100%;
  position: absolute;
  bottom:0;
}

.logo>a, .nav ul li a {
  color:#fff;
  text-decoration: none;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 17px 20px;
  margin-right: 0;
  position: relative;
}
.nav ul li {
  padding: 10px 0;
  position: relative;
  text-decoration: none;
}
.nav>ul>li>a {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
}
.nav>ul>li{
  margin-left: 40px;
}

.nav>input[type='checkbox'] + label {
  position:absolute;
  top:25%;
  right: 10%;
  display: none;
}
input[type='checkbox'] {
  display: none;
}
.nav label i {
  width: 44px;
  height: 34px;
  color: white;
  font-size: 28px;
  text-align: center;
  line-height: 34px;
  border: 1px solid white;
  border-radius: 4px;
}
.link {
  display: none;
  position: absolute;
  left: -16px;
  top: 15px;
  height: 0px;
  width: 0px;
  border-radius: 50%;
  border: 6px solid #c61673;
  z-index: 2;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  animation: bulb 1.2s infinite forwards;
}
.blink{
  display: inline-block;
}

.first-info {
  bottom: 0;
  height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center;
}

.headtext-center {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px;
  position: relative;
  z-index: 2;
}

.headtext-center p {
  font-size: 16px;
  display: inline-block;
  line-height: 1.8em;
  text-align: center;
  color: #fff;

}

.headtext-center span {
  display: inline-block;
  font-size: 80px;
  font-weight: 600;
  color: #f00;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  margin-top: 0;

}.text-wrapper {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.move {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  position: relative;

}
.move span {
  display: inline;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: #fff;
  -webkit-animation: fade-in 15s linear infinite 0s;
  -ms-animation: fade-in 15s linear infinite 0s;
  animation: fade-in 15s linear infinite 0s;
}

.move span:nth-child(2) {
  -webkit-animation-delay: 5s;
  -ms-animation-delay: 5s;
  animation-delay: 5s;
  color: #fff;
}
.move span:nth-child(3) {
    -webkit-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 10s;
    color: #fff;
}


.btn {
  display: block;
  width: 100%;
  max-width: 160px;
  height: 50px;
  text-transform: uppercase;
  color: #fff;
  padding:0 20px;
  border: 1px solid #c61673;
  background-color: #c61673;
  text-align: center;
  line-height: 50px;
  margin-top: 25px;
  position: relative;
  transition:all 0.3s;
  border-radius: 0;
  overflow: hidden;
}
.btn span.btn-text, div.btn-text {
  color: #fff;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  font-family: 'Poppins',sans-serif;
  font-size: 16px;
  font-weight: 400;
  z-index: 1;
  position: relative;
}
span.btn-text {
  margin-bottom: 0;
}
.btn::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 0;
  border-color: transparent transparent transparent #000;
}
.btn::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  border-color: transparent #000 transparent transparent;
}
.btn:hover {
  color:#fff;
  border-color: #000;

}
.btn:hover:before, .btn:hover:after {
  transition: all .3s;
  border-width: 50px 160px;
}
.btn:hover:before {
  border: 48px solid transparent;
  border-top: 50px solid transparent;
  border-right: 0px solid transparent;
  border-left: 160px solid #000;
  width: 100%;

}
.btn:hover:after {
  border: 48px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 0px solid transparent;
  border-right: 160px solid #000;
  width: 100%;

}
.btn::before, .btn::after {
  content: '';
  display: block;
  position: absolute;
  transform: rotate(0deg);

}

.headtext-center:after {
  content: '';
  display:block;
  height: 80px;
  width: 1px;
  border-radius:2px;
  position: absolute;
  background-color: white;
  bottom:-150px;;
  opacity: 0.8;
  animation: scroll-up 2.5s ease-in-out forwards infinite;
}

.round-btn {
  background-color: #c61673;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  color: #fff;
  line-height: 70px;

}
/* --------------------------------------- */
/* Адаптивность,параллакс, точки перепроверить!!! */
/* Section two: slider and about */

/*  */
.about-wrapper {
  background-image: url('../img/bg-about.jpg');
  background-position: top;
  -webkit-background-size: cover;
  background-size:cover;
  background-repeat:repeat;

}
.back {
  position: fixed;
  z-index: 5;
  opacity: 0;
  right: 30px;
  bottom: 30px;
  background: transparent;
  padding: 0px;
  text-align: center;
  margin: 0 0 0 0;
  cursor: pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  color: white;
  transform: translateY(-5px);
  animation: tog 1.2s infinite forwards;
}
.back a i{
  display: block;
  font-size: 30px;
  margin-top: 0px;
  margin-left: 1px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  color: white;
  height: 40px;
  width: 40px;
  line-height: 37px;
  background-color: #c61673;
  text-align: center;
}
.back i:hover{
  background-color: #4b4b4b;
}
/*.back a i:before{
  font-size: 30px;
  margin-top: 0px;
  margin-left: 1px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  color: white;
  height: 40px;
  width: 40px;
  line-height: 37px;
  background-color: #c61673;
  padding: 0;
  text-align: center;
  display: block;
}*/

.about-info {
  width: 100%;
  height: 100%;
  padding: 80px 50px;
}
.slider{
  width: 90vw;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  max-height: 500px;
  background-color: transparent;
}
.skill {
  margin: 10px 15px;
  box-shadow: 0 0 15px 0 #e4e4e4;
  background-color: #fff;
  display: block;

}
.skill>img {
  width: 100%;
}
.my-skills {
  padding: 50px;
  margin-top: -15px;
  width: 100%;
  text-align: left;
}
.my-skills>i {
  font-size: 30px;
  text-align: left;
  margin-bottom: 15px;
  color: #c61673;
  position: relative;
}
.my-skills i:after {
  content:'';
  position: absolute;
  right: -40px;
  top: 10px;
  height: 0px;
  width: 0px;
  border-radius: 50%;
  border: 6px solid #c61673;
  z-index: 1;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  animation: bulb 1.2s infinite forwards;
}
.my-skills>h3 {
  color: #424242;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  margin: 10px 0;
  font-weight: 500;
  text-transform: capitalize;
}
.my-skills>p {
  text-align: left;
  line-height: 1.8em;
  font-size:15px;
  color:#666;
}
.about-me {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 100px 0 0;
  justify-content: flex-start;
  margin: 0 auto;
}
.about-photo {
  position: relative;
  width: 35%;
}
.about-photo:before {
  content: '';
  position: absolute;
  height: 200px;
  width: 100%;
  background-image: url(../img/skill-bg.png);
  margin-left: 200px;
}
.about-photo img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 100% 50% 50% 100% / 75% 69% 69% 75%;
  box-shadow: 2px 10px 0px 0px rgba(0, 0, 0, 0.16);
  position: relative;
}


.about-photo a {
  position: absolute;
  top:40%;
  left:40%;
  transform: translate(0%, 0%);
  z-index: 2;
}
.about-photo a:before {
  content:'';
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: absolute;
  border:6px solid #c61673;
  top:-6px;
  left:-6px;
  z-index: 0;
  animation: bulb 1s infinite forwards;
}

.about-text {
  display: block;
  width: 65%;
  text-align: left;
  padding-left:40px;
  font-size: 15px;
  line-height: 1.8em;
  position: relative;
  z-index: 1;
}
.about-text h2 {
  margin-bottom: 15px;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  font-size: 42px;
  position: relative;
  width: 50%;
}

.about-text h3 {
  color:#363636;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
}
.about-text p {
  font-family: 'Open Sans', sans-serif;
  margin:15px 0 25px;
  line-height: 1.8em;
  font-size:15px;
  color:#666;
  font-weight: 400;
}
.about-text span {
  color: #c61673;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  font-size: 42px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
}
.dots h2:before {
  right: -20px;
  top: -10px;
}
.dots h2:after {
  right: -40px;
  top: -7px;
}
.social-contact-me {
  margin-top: 20px;
}
.social-contact-me>ul {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.social-contact-me>ul>li:not(:first-child) {
  width: 27px;
  height: 23px;
  text-align: center;

}
.social-contact-me>ul>li:first-child {
  margin-right: 30px;
  padding-bottom: 20px;
  position: relative;
}
.social-contact-me>ul>li:first-child:before {
  content: '';
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 4px;
  border-top: 1px solid #000;
}

.social-contact-me>ul>li>a {
  font-size: 14px;
  line-height: 23px;
  color: #000;
}
.social-contact-me>ul>li>a:hover {
  color:#666;
}
/* ====================================== */
/*Aанимация иконок. */
/* Section three: my Numbers */
.numbers-wrapper {
  background:rgba(0, 0, 0, 0.82) url('../img/counter.jpg');
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.my-numbers {
  width: 100%;
  /*height: 75vh;*/
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.numbers-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  -ms-align-self: stretch;
  align-self: stretch;
  flex-flow: column wrap;
  text-align: left;
  padding: 50px 120px;
  width: 550px;
  /*height: 100%;*/
  line-height: 1.8em;
  background-color: #c61673;
  -webkit-clip-path: polygon(16% 0,100% 0, 84% 100%, 0 100%);
  -o-clip-path: polygon(16% 0,100% 0, 84% 100%, 0 100%);
  clip-path: polygon(16% 0,100% 0, 84% 100%, 0 100%);
}
.numbers-text h2, .numbers-text p {
  color: #fff;
}
.numbers-text p {
  font-size: 15px;
  letter-spacing: 0;
  line-height: 1.8em;
}
.my-digits {
  width: 50%;
  padding: 80px 20px;
  position: relative;
  right: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: space-around;

}
.stat-box {
  width: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}
.stat-box:first-child, .stat-box:nth-child(2){
  margin-bottom: 20px;
}
.stat-box i {
  font-size: 25px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  z-index:1;
  line-height: 60px;
}
.my-digits .round-btn::after {
  content:'';
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: absolute;
  border:6px solid #c61673;
  background-color: transparent;
  top:-11px;
  left:-11px;
  z-index: -1;
  animation: bulb 1.2s infinite forwards;
}
.stat-box h2 {
  margin-top: 20px;
  color: #fff;
  font-size: 32px;
  font-weight: 500;
}
.stat-box span {
  color:#fff;
  margin-top: 10px;
}
.stat-box .round-btn {
  width: 60px;
  height: 60px;
}
/*Вроде неплохо, прикрутить прокрутку до цифр.*/
/* ------------------------------------------ */
/* Section four: My Portfolio and pictures */
.portfolio-wrapper {
  background-color: #fff;
  width: 100%;
}
.my-portfolio {
  padding: 80px 0;
}
.folio-title {
  display: block;
  text-align: center;
  margin-bottom: 50px;
}
.folio-title h2 {
  position: relative;
  text-align: center;
}
.folio-title h2:before {
  right: 425px;
  top:0;
}
.folio-title h2:after {
  right: 405px;
  top:3px;
}
.folio-title p {
  font-size: 15px;
  color: #666;
  line-height: 1.8em;
}
.folio-wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.items-wrapper {
  width: 100%;
  margin:0;
  display: flex;
  flex-flow: row wrap;
}

.grid-sizer,
.grid-item { 
  width: 34%; 
}

.grid-item--width2 { 
  width: 40%; 
}
.folio-wrapper ul {
  display: block;
  width: 100%;
}

.sort-images {
  text-align: center;
  width: 100%;
  margin-bottom: 2vh;
  align-self: stretch;
  margin-bottom: 40px;

}
.sort-images li {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  color:#666;
  padding: 5px 20px;
  position: relative;
}
.sort-images .link {
  top:8px;
  left: 0px;
}

.img-box {
  padding: 10px;
}
.img-box:nth-of-type(1),.img-box:nth-of-type(2) {
  width: 50%;
  margin-bottom: 2vw;
}
.img-box:nth-of-type(n+3) {
  width: 33%;

}
.items-wrapper img {
  width: 100%;
  height: auto;
}
.img-box {
  position: relative;
  display: flex;
}
.item-text {
  padding: 0;
  margin: 0;
  width: 180px;
  list-style: none;
  position: absolute;
  opacity: 1;
  display: none;
  left: 50%;
  z-index: 2;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
/*.item-text:before {
  position: absolute;
  content: '';
  height: calc(100% + 70px);
  width: 0;
  background-color: rgba(0, 0, 0, 0.8);
  left: 50%;
  top: -32px;
  transition: all 0.3s ease 0s;
}*/
.item-text>ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  background-color: #0008;
  padding: 10px;

}
.item-text li i {
  width: 40px;
  height: 40px;
  font-size: 17px;
  background-color: #c61673;
  color:#fff;
  border: 1px solid #c61673;
  line-height: 40px;
  text-align: center;

}
.item-text li:first-child {
  align-self: flex-start;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 22px;
}
.img-box .img:hover ~ .item-text, .item-text:hover {
  display: block;
}

/*Исправить переключатели, прокрутка, адаптивность,
поправить появление на ховере*/
/* ------------------------------------------- */
/*===============================================*/
/* ------------------------------------------- */
/* Section five: My Experience */
.experience-wrapper {
  background:rgba(0, 0, 0, 0.82) url('../img/exp-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
}
.experience-wrapper>.container {
    width: 100% !important;
  }
.my-exp {
  width: 100%;
  display: flex;
}
.exp-wrapper {
  width: 50%;
}
.my-exp .photo {

  background-image: url('../img/exp-front.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
}
.exp-wrapper.text{

  padding: 100px 120px 80px;
}
.my-exp .text h2 {
  position: relative;
  width: 75%;
}
.my-exp > .text > p {
  margin: 10px 0 50px;
}
.text h2:before {
  top:0;
  right: -20px;
}
.text h2:after {
  top:3px;
  right: -40px;
}
.exp-wrapper>h2,.exp-wrapper p {
  text-align: left;
  color:#fff;
}
.exp-wrapper p {
  line-height: 1.8em;
  font-size: 15px;
}

.exp-wrapper ul li h3{
  color:#c61673;
  font-size: 22px;
  font-weight: 500;
  text-align: left;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}
.exp-wrapper ul li h4 {
  color:#cbcbcb;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
  line-height: 1;
}
.exp-wrapper ul li i {
  border-radius: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  position: absolute;
  margin-left: -70px;
  margin-top: 8px;
}
.exp-wrapper ul li {
  padding: 10px 0 10px 70px;
  position: relative;
}
/*Точки, остальное вроде норм.*/
/* ------------------------------------------- */
/* Section six: My Service */
.service-wrapper {
  background-color: #f2f2f2;
}
.my-service {
  padding: 100px 0 70px 0;
}
.service-header {
  width: 100%;
  text-align: center;
}
.service-text {
  display: flex;
  justify-content: space-between;
}
.service-header h2 {
  position: relative;
  width: 30%;
  margin: 0 auto 15px;
}
.service-header h2:before {
  top:0;
  right: 20px;
}
.service-header h2:after {
  top:3px;
  right: 0px;
}
.service-header p {
  line-height: 1.8em;
  color: #666;
  font-size: 15px;
  margin: 15px 0 50px;
}
.service-item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  width: 30%;
  border-radius: 20px 0 20px 0;
  background-color: #fff;
  position: relative;
  padding: 15px 20px 30px 15px;
  margin: 20px 0 30px;
}
.service-item span {
  display: block;
  width: 100px;
  height: 140px;
  font-size: 90px;
  color: #fff;
  text-align: center;
  line-height: 130px;
  background: linear-gradient(135deg,#c61673 25%,#b01466 26%,#b01466 40%,#c61673 41%,#b01466 47%,#b01466 48%, #b01466 60%, #c61673 61%);
  border-bottom-right-radius: -100px;
  position: relative;
  top: -9%;
  left:0;
  align-self: flex-start;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  border-top-right-radius: 2px;
}
.service-item i {
  font-size: 60px;
  color:#e6e4e4;
  position: absolute;
  top: 30px;
  right: 20px;
}
.service-item:hover.service-item i {
  animation: rot .5s;
}
.service-item h3 {
    color:#c61673;
    margin-bottom: 20px;
}
.service-item p {
  font-size: 15px;
  line-height: 1.8em;
  color:#666;
  margin-bottom: 10px;
}
.service-item:before {
  content:'\25e3';
  color: #c61673;
  position: absolute;
  top:-27px;
  left: 111px;
  width: 20px;
  font-size: 30px;
}
/*Выглядит неплохо, перепроверить всё.*/
/* ------------------------------------------- */
/* Section seven: features and list of features, btn Hire */
.features-wrapper {
  background:transparent url('../img/features-image.jpg');
  background-size:cover;
  background-position:center;
  background-attachment: fixed;
  background-blend-mode: overlay;
}

.features {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 100px 0;
}
.features-text {
  width: 70%;
  color: #fff;

}
.features-text h2 {
  color: white;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 1.2em;
  margin-bottom: 20px;
  text-align: left;
  letter-spacing: 1px;
}
.features-text p {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8em;
  text-align: left;
}
.features-text a.btn {
  display: block;
  margin-top: 30px;
  margin-left: 0;
}
.features-items {
  width: 35%;
  padding: 0 0 20px 40px;
}
.features-items ul {
  display: flex;
  flex-flow: column wrap;
  margin-top: 10px;
}
.features-items li {
  padding: 9px 40px;
  border-bottom: 1px solid #383838;
  background-color: #c61673;
  color:#fff;
  position: relative;
  font-size: 15px;
  overflow: hidden;
}
.features-items li::before {
  content:'-';
  position: absolute;
  background-color: #fff;
  height: 100%;
  width: 30px;
  line-height: 30px;
  font-size: 30px;
  text-align: center;
  color: #000;
  left: 0;
  top:0;
}
.features-items li:not(:last-child) {
  margin-bottom: 10px;
}

/* ------------------------------------ */
/* Section eight: My Skills section with bars */

.skills-wrapper {
  width: 100%;
  background-color: #fff;
}
.my-skill {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 100px 0;
  position: relative;
}
.skill-image {
  width: 50%;

}
.my-skill:before {
  content: '';
  background-image: url('../img/skill-bg.png');
  background-repeat: repeat;
  width: 50%;
  height: 50%;
  margin-left: 200px;
  top:15%;
  left: 0;
  position: absolute;
  z-index: 0;
}
.skill-image img {
  width: 100%;
  border-radius: 100% 50% 50% 100% / 75% 69% 69% 75%;
  box-shadow: 2px 10px 0px 0px rgba(0, 0, 0, 0.16);
}
.skill-proof {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  padding: 0 40px;
  position: relative;
  z-index: 1;

}
.skill-header {
  text-align: left;
}
.skill-header h2 {
  font-family: 'Poppins',sans-serif;
  font-size: 42px;
  letter-spacing: 1px;
  color:#424242;
  font-weight: 600;
  margin-bottom: 15px;
  position: relative;
}
.skill-header h2:before {
  top:0;
  right: 75px;
}
.skill-header h2:after {
  top:3px;
  right: 55px;
}
.skill-header p {
  font-size:15px;
  color:#666;
  line-height: 1.8em;
  margin-bottom: 30px;
}
.skill-bars {
  width: 100%;
 }
.skill-bars h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color:#666;
  width: 100%;
  margin-top: -30px;
  font-weight: 400;
  letter-spacing: 0;
  width: 100%;
  position: relative;
}
.skill-bars ul {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;

}
.skill-bars li {
  height: 6px;
  width: 100%;
  background-color: #ececec;
}
.skill-bars li:not(:last-child) {
  margin-bottom: 55px;
}
.skill-item {
  background-color: #c61673;
  height: 6px;
  position: absolute;
  display: inline-flex;
  justify-content:space-around;
  border: 0;
}
.skill-item span {
  display: inline-flex;
  width: 40px;
  height: 30px;
  color:#626262;
  font-size: 15px;
  justify-content: flex-end;
  line-height: 20px;
  margin-left: 20px;
  margin-right: -20px;
  margin-top:-32px;
  position: relative;

}
.skill-item span:after {
  content: "\25bc";
  position: absolute;
  color:#c61673;
  top: 50%;
  float: right;
  left: 3px;
}
/*Анимация баров, картинки?? В целом неплохо.*/
/* ------------------------------- */
/* Section nine: Testimonial of our team */
.testimonial-wrapper {
  background: rgba(0, 0, 0, 0.62) url('../img/client-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
}
.my-work {
  width: 100%;
  padding: 100px 20px;
}
.our-clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px; /* HACK:  */
}
.client img {
  width: 100%;
}
.clients-header {
  text-align: center;
  color: #fff;
  display: flex;
  flex-flow:column wrap;
  justify-content: center;
  align-content: center;
}
.clients-header h2 {
  color: #fff;
  position: relative;
  width: 33%;
  align-self: center;
}
.clients-header h2:before {
  top:0px;
  right: 20px;
}
.clients-header h2:after {
  top:3px;
  right: 0px;
}
.clients-header p {
  font-size: 15px;
  margin: 10px 0 50px 0;
  letter-spacing: 0;
  line-height: 1.8em;
}
.work-slider {
  padding: 50px 30px 40px;
  text-align: center;
  margin: 0 auto;
  width: 64%;
  background-color: rgba(0, 0, 0, 0.6);
}

.work-text p {
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: 15px;
  line-height: 1.8em;
  margin-bottom: 10px;
}
.work-text h3 {
  color: #c61673;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  margin: 20px 0 10px;
}
.work-text span {
  display: block;
  color: #fff;
  font-size: 15px;
}
.owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
 .owl-carousel button.owl-dot {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  opacity: .5 !important;
  transition: all .3s ease-in-out 0s !important;
  border: 4px solid #666 !important;
  outline:none;

}
.owl-dot:not(:last-child) {
  margin-right: 10px !important;
}
button.owl-dot:first-of-type {
  background-image: url('../img/mike.jpg') !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
button.owl-dot:nth-of-type(2) {
  background-image: url('../img/kris.jpg') !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
button.owl-dot:nth-of-type(3) {
  background-image: url('../img/will.jpg') !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

button.owl-dot.active {
  border-color: #c61673 !important;
  opacity: 1 !important;
}
.work-avatar:not(:last-child) {
  margin-right: 50px;
}
/*Сделать переключатели на слайдер*/
/* ------------------------------------ */
/* Section ten: Hire Me form */
.hire-wrapper {
  background-image: url('../img/bg-about.jpg');
  background-position: top;
  -webkit-background-size: cover;
  background-size:cover;
  background-repeat:repeat;
}
.hire-form {
  width: 100%;
  display: flex;
  justify-content:space-around;
}
.hire-form p {
  font-family: 'Open Sans', sans-serif;
}
.my-details {
  width: 32%;
  background-color: #c61673;
  padding: 100px 40px;
  height: 70%;
}
.details-header {
  text-align: left;
  color: #fff;
}
.details-header>h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-align: left;
}
.details-header p {
  font-size: 15px;
  line-height: 1.8em;
  margin:16px 0 25px;
}

.find-me {
  background-color: #b01466;
  padding: 15px;
  color: #fff;
}
.find-me:not(:last-child) {
  margin-bottom: 20px;
}
.find-me h3 {
  font-family: 'Poppins',sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
  text-align: left;
  vertical-align: bottom;
}
.find-me p:before {
  clear: both;
}
.find-me p {
  font-size: 18px;
  line-height: 1.8em;
  color: #f3f3f3;
  text-align: left;
}
.find-me i {
  float: left;
  font-size: 30px;
  margin-right: 20px;
}
.write-me .help{
  padding: 10px 0;
  color: #848484;
  transition: all .7s ease;
  opacity: 0;
}
form::-webkit-validation-bubble {
  display: none;
}
input::invalid + .help {
  opacity: 1;
}
.contact-form {
  display: flex;
  flex-flow: column wrap;
  padding: 100px 20px 70px;
}
.form-header {
  text-align: left;
}
.form-header h2 {
  width: 31%;
  position: relative;
}
.form-header h2:before {
  top:0;
  right: -10px;
}
.form-header h2:after {
  top: 3px;
  right: -30px;
}
.form-header p {
  font-size: 15px;
  color: #666;
  line-height: 1.8em;
  margin-bottom: 50px;
}

.form-field {
  width: 100%;
  margin: auto;
  padding: 12px 18px;
  border: 1px solid #848484;
  line-height: 1.4;
  outline: none;
  border-radius: 4px;
  color:#495057;
  font-size: 15px;
}
textarea {
  resize: none;
}
.form-field input::placeholder{
  color:#000;
}

.form-field:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483;
}
.write-here button {
  padding:0 12px;
  font-size: 18px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  background-color: #c61673;
  border-radius: 4px;
  outline: none;
  border: 1px solid transparent;
  margin-top: 0;
}
/*Исправить подсказки при пустых полях.*/
/* ------------------------------------ */
/* Footer section */
.footer-wrapper {
  background: rgba(0, 0, 0, 0.5) url('../img/footer-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
}
footer {
  width: 100%;

}
.me {
  max-width: 100%;
  height: calc(80vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.me h2 {
  font-size: 55px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing:0;
  color: #c61673;
  width: 100%;
  text-align: center;
}
.me ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: #fff;
  width: 100%;
}
.me li {
  font-size: 19px;
  line-height: 20px;

}
.me li a {
  color: #fff;
}

.me li:not(:last-child){
  margin-right: 15px;
}
.copyright {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  color: #fff;
  height: 100px;
  border-top: 1px solid #292929;
}
.copyright span {
  display: block;
  text-align: center;
  width: 100%;
}
.me li i:hover {
  color: #c61673;
}
/*DONE!*/
