@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  transition: 0.5s;

}
*:before, *:after {
  z-index: 0;
}
html,body {
  background-color: lightgrey;
  width: 100%;
}
h2 {
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  font-size: 42px;
  margin-bottom: 20px;
  color: #424242;
  letter-spacing: 1px;
}
a:hover {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
  position: relative;
}
/* -------------------------------------------------- */

/*Библиотека Water???подключить шрифты, logo.
МЕНЮ!!!! Скролл и параллакс!!!
Разобраться с кнопками, Ховер кнопок.
 */
/* First section and header.*/
.top-wrapper {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  background-image: url('../img/wave.png'),url('../img/bg-top.jpg');
  background-size:100%, cover;
  background-position: fixed;
  background-repeat: no-repeat,no-repeat;
  background-position: bottom, top;
  padding: 0 auto;
}
.menu-wrapper {
  width: 100%;
  position: fixed;
  top:0;
  z-index: 4;
}
.menu {
  max-width: 1176px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  color: #fff;
  margin: 0 auto;
  /* box-shadow: 0 0 12px 0 #2d2d2d; *//* HACK: when scroll! */

}

.menu .logo span {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 23px;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;

}
.container img.wave {
  width: 100%;
  position: absolute;
  bottom:0;
}

.logo>a, .nav ul li a {
  color:#fff;
  text-decoration: none;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 17px 20px;
  margin-right: 0;
  position: relative;
}
.nav ul li {
  padding: 10px 0;
  position: relative;
  text-decoration: none;
}
.nav>ul>li>a {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
}
.nav>ul>li{
  margin-left: 40px;
}

.nav>input[type='checkbox'] + label {
  position:absolute;
  top:25%;
  right: 10%;
  display: none;
}
input[type='checkbox'] {
  display: none;
}
.nav label i {
  width: 44px;
  height: 34px;
  color: white;
  font-size: 28px;
  text-align: center;
  line-height: 34px;
  border: 1px solid white;
  border-radius: 4px;
}

.nav ul li a:focus:before{
  content:'';
  position: absolute;
  left: -16px;
  top: 15px;
  height: 0px;
  width: 0px;
  border-radius: 50%;
  border: 6px solid #c61673;
  z-index: 1;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  animation: bulb 1.2s infinite forwards;
}



.first-info {
  bottom: 0;
  height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center;
}

.headtext-center {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px;
  position: relative;
}

.headtext-center p {
  font-size: 16px;
  display: inline-block;
  line-height: 1.8em;
  text-align: center;
  color: #fff;

}

.headtext-center span {
  display: inline-block;
  font-size: 80px;
  font-weight: 600;
  color: #f00;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  margin-top: 0;

}.text-wrapper {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.move {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  position: relative;

}
.move span {
  display: inline;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: #fff;
  -webkit-animation: fade-in 15s linear infinite 0s;
  -ms-animation: fade-in 15s linear infinite 0s;
  animation: fade-in 15s linear infinite 0s;
}

.move span:nth-child(2) {
  -webkit-animation-delay: 5s;
  -ms-animation-delay: 5s;
  animation-delay: 5s;
  color: #fff;
}
.move span:nth-child(3) {
    -webkit-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 10s;
    color: #fff;
}


.btn {
  display: block;
  width: 100%;
  max-width: 160px;
  height: 50px;
  text-transform: uppercase;
  color: #fff;
  padding:0 20px;
  border: 1px solid #c61673;
  background-color: #c61673;
  text-align: center;
  line-height: 50px;
  margin-top: 25px;
  position: relative;
  transition:all 0.3s;
  border-radius: 0;
  overflow: hidden;
}
.btn span.btn-text, div.btn-text {
  color: #fff;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  font-family: 'Poppins',sans-serif;
  font-size: 16px;
  font-weight: 400;
  z-index: 1;
  position: relative;
}
span.btn-text {
  margin-bottom: 0;
}
.btn::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 0;
  border-color: transparent transparent transparent #000;
}
.btn::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  border-color: transparent #000 transparent transparent;
}
.btn:hover {
  color:#fff;
  border-color: #000;

}
.btn:hover:before, .btn:hover:after {
  transition: all .3s;
  border-width: 50px 160px;
}
.btn:hover:before {
  border: 48px solid transparent;
  border-top: 50px solid transparent;
  border-right: 0px solid transparent;
  border-left: 159px solid #000;
  width: 100%;

}
.btn:hover:after {
  border: 48px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 0px solid transparent;
  border-right: 159px solid #000;
  width: 100%;

}
.btn::before, .btn::after {
  content: '';
  display: block;
  position: absolute;
  transform: rotate(0deg);

}

.headtext-center:after {
  content: '';
  display:block;
  height: 80px;
  width: 1px;
  border-radius:2px;
  position: absolute;
  background-color: white;
  bottom:-150px;;
  opacity: 0.8;
  animation: scroll-up 2.5s ease-in-out forwards infinite;
}

.round-btn {
  background-color: #c61673;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  color: #fff;
  line-height: 70px;

}
/* --------------------------------------- */
/* Адаптивность,параллакс, точки перепроверить!!! */
/* Section two: slider and about */

/*  */
.about-wrapper {
  background-image: url('../img/bg-about.jpg');
  background-position: top;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat:repeat;

}
.about-info {
  width: 100%;
  height: 100%;
  padding: 80px 50px;
}
.slider{
  width: 90vw;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  max-height: 500px;
  background-color: transparent;
}
.skill {
  margin: 10px 15px;
  box-shadow: 0 0 15px 0 #e4e4e4;
  background-color: #fff;
  display: block;
}
.skill>img {
  width: 100%;
}
.my-skills {
  padding: 50px;
  margin-top: -5px;
  width: 100%;
  text-align: left;
}
.my-skills>i {
  font-size: 30px;
  text-align: left;
  margin-bottom: 15px;
  color: #c61673;
  position: relative;
}
.my-skills i:after {
  content:'';
  position: absolute;
  right: -40px;
  top: 10px;
  height: 0px;
  width: 0px;
  border-radius: 50%;
  border: 6px solid #c61673;
  z-index: 1;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  animation: bulb 1.2s infinite forwards;
}
.my-skills>h3 {
  color: #424242;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  margin: 10px 0;
  font-weight: 500;
  text-transform: capitalize;
}
.my-skills>p {
  text-align: left;
  line-height: 1.8em;
  font-size:15px;
  color:#666;
}
.about-me {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 100px 0 0;
  justify-content: flex-start;
  margin: 0 auto;
}
.about-photo {
  position: relative;
  width: 35%;
}
.about-photo:before {
  content: '';
  position: absolute;
  height: 200px;
  width: 100%;
  background-image: url(../img/skill-bg.png);
  margin-left: 200px;
}
.about-photo img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 100% 50% 50% 100% / 75% 69% 69% 75%;
  box-shadow: 2px 10px 0px 0px rgba(0, 0, 0, 0.16);
  position: relative;
}


.about-photo a {
  position: absolute;
  top:40%;
  left:40%;
  transform: translate(0%, 0%);
  z-index: 2;
}
.about-photo a:before {
  content:'';
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: absolute;
  border:6px solid #c61673;
  top:-6px;
  left:-6px;
  z-index: 0;
  animation: bulb 1s infinite forwards;
}

.about-text {
  display: block;
  width: 65%;
  text-align: left;
  padding-left:40px;
  font-size: 15px;
  line-height: 1.8em;
  position: relative;
  z-index: 1;
}
.about-text h2 {
  margin-bottom: 15px;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  font-size: 42px;
  position: relative;
  width: 50%;
}

.about-text h3 {
  color:#363636;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
}
.about-text p {
  font-family: 'Open Sans', sans-serif;
  margin:15px 0 25px;
  line-height: 1.8em;
  font-size:15px;
  color:#666;
  font-weight: 400;
}
.about-text span {
  color: #c61673;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  font-size: 42px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
}
.dots h2:before {
  right: -20px;
  top: -10px;
}
.dots h2:after {
  right: -40px;
  top: -7px;
}
.social-contact-me {
  margin-top: 20px;
}
.social-contact-me>ul {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.social-contact-me>ul>li:not(:first-child) {
  width: 27px;
  height: 23px;
  text-align: center;

}
.social-contact-me>ul>li:first-child {
  margin-right: 30px;
  padding-bottom: 20px;
  position: relative;
}
.social-contact-me>ul>li:first-child:before {
  content: '';
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 4px;
  border-top: 1px solid #000;
}

.social-contact-me>ul>li>a {
  font-size: 14px;
  line-height: 23px;
  color: #000;
}
.social-contact-me>ul>li>a:hover {
  color:#666;
}
/* ====================================== */
/* Запихнуть розовый фоню, анимация иконок, счетчики? */
/* Section three: my Numbers */
.numbers-wrapper {
  background:rgba(0, 0, 0, 0.82) url('../img/counter.jpg');
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.my-numbers {
  width: 100%;
  height: 80vh;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.numbers-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
  text-align: left;
  padding: 50px 120px;
  width: 550px;
  height: 100%;
  line-height: 1.8em;
  background-color: #c61673;
  -webkit-clip-path: polygon(16% 0,100% 0, 84% 100%, 0 100%);
  -o-clip-path: polygon(16% 0,100% 0, 84% 100%, 0 100%);
  clip-path: polygon(16% 0,100% 0, 84% 100%, 0 100%);
}
.numbers-text h2, .numbers-text p {
  color: #fff;
}
.my-digits {
  width: 50%;
  position: relative;
  right: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: space-around;

}
.stat-box {
  width: 50%;
  text-align: left;
  vertical-align: middle;
  padding: 10px;

}
.stat-box i {
  font-size: 25px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  z-index:1;
}
.my-digits .round-btn::after {
  content:'';
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: absolute;
  border:6px solid #c61673;
  background-color: transparent;
  top:-6px;
  left:-6px;
  z-index: -1;
  animation: bulb 1.2s infinite forwards;
}
.stat-box h2 {
  margin-top: 20px;
  color: #fff;
}
.stat-box span {
  color:#fff;
  margin-top: 10px;
}

/*===========================================*/
/* ------------------------------------------ */
